<form action="/shops" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new shop:</p>
  <label for="name">Shop Name</label><br>
  <input type="text" name="shop[name]" id="name"/><br>
  <label for="sqaure_footage">Square Footage</label><br>
  <input type="number" name="shop[square_footage]" id="square_footage"/><br>
  <label for="parking_lot">Is there a parking lot?</label><br>
  <input type="checkbox" name="shop[parking_lot]" id="parking_lot"/><br>
  <input type="submit" value= "Create Shop"/>
</form>
