<h1>All Dealerships </h1>

  <% @dealerships.each do |dealership| %>
    <h3><a href="/dealerships/<%= dealership.id %>"><%= dealership.name %></a></h3>
  <% end %>

  <ul>
    <li><a href = '/dealerships/new'>New Dealership</a></li>
  </ul>
