<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/dealerships">Dealerships</a></li>
  <li><a href="/vehicles">Vehicles</a></li><br><br>
  <li><a href="/shops">Shops</a></li>
  <li><a href="/snowboards">Snowboards</a></li>
</ul>
