<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/dealerships">Dealership Index</a></li>
  <li><a href="/vehicles">Vehicle Index</a></li><br><br>
  <li><a href="/shops">Shop Index</a></li>
  <li><a href="/snowboards">Snowboard Index</a></li>
</ul>
